@{
    ViewBag.Title = "CDs y DVDs";
}

<div class="jumbotron" @*style="display: block;margin:0 auto 0 auto*@ ">
    <h1>VENTAS DE CDs y DVDs</h1>
    <p class="lead">Aquí encontrarás todos los CDs y DVDs, con todos los estilos, géneros, interpretes.</p>
</div>

<div class="row">
    <img src="@Url.Content("~/Imagenes/CDs.jpg")" width="1180px" height="400px" style="float: right;" alt="imgf/">
</div>
<head>
    <title>Color de Fondo de la página</title>
    <style type="text/css">
        body {
            background: silver;
        }
    </style>
</head>